/*Common Header  */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    margin: 0;
    font-family: "Bruno Ace SC", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(22, 21, 31, 0.934);
}

#topline {
    background-color: rgb(255, 187, 0);
    height: 10px;
    width: 100%;
    padding-bottom: 40px;
}

#logonmenu {
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 8px;
    height: 50px;
    background-color: rgba(22, 21, 31, 0.934);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

#home {
    text-decoration: none;
    color: white;

}

#home:hover {
    color: rgb(255, 187, 0);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a:hover {
    color: rgb(255, 187, 0);
}

/* Language Menu */

.radio-inputs {
    position: absolute;
    width: 850px;
    left: 650px;
    top: 115px;
    height: 135px;
    display: none;
    justify-content: center;
    align-items: end;
}

.radio-inputs>* {
    margin: 6px;
}

.radio-input:checked+.radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.radio-input:checked+.radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
    z-index: 1;
}

.radio-input:checked+.radio-tile .radio-icon img {
    fill: #2260ff;
}

.radio-input:checked+.radio-tile .radio-label {
    color: #2260ff;
}

.radio-input:focus+.radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus+.radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #d7d7d7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: #2260ff;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-icon img {
    position: relative;
    z-index: 0;
    top: 5px;
    width: 4rem;
    fill: #494949;
}

.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}

.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#container_list {
    cursor: pointer;
}

#container_list:hover~.radio-inputs {
    display: flex;
}

.radio-inputs:hover {
    display: flex;
}

/* Common Header Ends */


body {
    margin: 0;
    background-image: url("Images/background_image2.jpg");
}

#Lang_name {
    /* height: 50px; */
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: rgb(255, 187, 0);
    text-shadow: 5px 5px 5px black;
}

#textpart {
    padding-top: 3%;
    padding-bottom: 20px;
    line-height: 30px;
    width: 500px;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.485);
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 30%;
    padding-left: 5%;
    padding-right: 5%;
}

#textpart:hover,
#backward:hover~#textpart,
#continue:hover~#textpart,
#nextdivision:hover~#textpart,
#prevdivision:hover~#textpart {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.844);
    border: 1px solid rgba(0, 0, 0, 0.495);
}

.word {
    font-size: 25px;
}

.lanname {
    font-size: 15px;
    text-shadow: 1px 1px 1px white;
}

#continue {
    position: absolute;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.816);
    border-radius: 50px;
    top: 300px;
    right: 325px;
}


.vol_icon {
    position: absolute;
    left: 500px;
    margin-top: -50px;

}

.vol_icon img {
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.727);
}

.vol_icon img:hover {
    width: 35px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
    cursor: pointer;
}

#backward {
    padding-top: 1px;
    position: absolute;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.816);
    border-radius: 50px;
    left: 350px;
    top: 300px;
}

#backward:hover,
#continue:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.604);
    cursor: pointer;
}

#nextdivision {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 43px;
    top: 450px;
    right: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.733);
    border-radius: 19px;
}

#prevdivision {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 43px;
    top: 450px;
    left: 240px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.733);
    border-radius: 19px;
}

#nextdivision:hover,
#prevdivision:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.574);
    cursor: pointer;
}

#ndivision {
    position: relative;
    text-align: center;
    top: -38px;
    font-size: 20px;

}

#pdivision {
    position: relative;
    text-align: center;
    top: -38px;
    font-size: 20px;

}

body hr {
    display: none;
}

#change_division_menu {
    position: absolute;
    /* border: 2px black solid; */
    top: 220px;
    left: 610px;
    border-radius: 25px;
    width: 360px;
    height: 35px;
    display: flex;
    background-color: rgb(255, 187, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.849);
}

#change_division_menu:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.522);

}

#change_division_menu div {
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    /* border: 1px black solid; */
    height: 27px;
    width: 120px;
}

#change_division_menu div:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.599);
    cursor: pointer;
}

#Beg_div {
    border-radius: 25px 0 0 25px;
}

#Adv_div {
    border-radius: 0 25px 25px 0;

}

/* Difficult Words */

#checkbox {
    display: none;
}

.switch {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
    top: 280px;
    left: 900px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    font-weight: 700;
    color: rgb(255, 187, 0);
    border: 2px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}

#checkbox:checked+.switch .svg {
    filter: drop-shadow(0px 0px 3px rgba(22, 21, 31, 0.934));
}

#checkbox:checked+.switch .svg path {
    fill: rgb(255, 255, 255);
}

#checkbox:checked+.switch {
    box-shadow: 0px 0px 1px rgba(22, 21, 31, 0.934) inset,
        0px 0px 2px rgba(22, 21, 31, 0.934) inset,
        0px 0px 10px rgba(22, 21, 31, 0.934) inset,
        0px 0px 40px rgba(22, 21, 31, 0.934),
        0px 0px 100px rgba(22, 21, 31, 0.934),
        0px 0px 5px rgba(22, 21, 31, 0.934);
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 187, 0);
    color: rgb(255, 255, 255);
}
