body{
    margin: 0;
}
#topline{
    background-color: rgb(255, 187, 0);
    height: 50px;
    width: 100%;
}
#Secondline{
    padding-top: 3%;
    height: 90px;
    background-color: rgba(22, 21, 31, 0.934);
    color: white;
    font-size: 30px;
    padding-left: 7%;
}
#textpart{
    padding-top: 1%;
    width: 600px;
    height: 310px;
    /* border: 2px solid black; */
    margin-top: 20px;
    margin-left: 27%;
    padding-left: 7%;
}
.word{
    font-size: 25px;
}
.lanname{
    font-size: 15px;
}

#continue{
    width: 150px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 187, 0);
    float: right;
    margin-right: 10%;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 15px;
}

.vol_icon{
    padding-left: 15px;
}
