/* Common Header  */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
  margin: 0;
  font-family: "Bruno Ace SC", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(22, 21, 31, 0.934);
}

#topline {
  background-color: rgb(255, 187, 0);
  height: 10px;
  width: 100%;
  padding-bottom: 40px;
}

#logonmenu {
  color: white;
  font-size: large;
  font-weight: 500;
  padding: 8px;
  height: 50px;
  background-color: rgba(22, 21, 31, 0.934);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

#login_background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("Images/login_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#home {
  text-decoration: none;
  color: white;
}

#home:hover {
  color: rgb(255, 187, 0);
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a:hover {
  color: rgb(255, 187, 0);
}

/* Language Menu */

.radio-inputs {
  position: absolute;
  width: 850px;
  left: 650px;
  top: 115px;
  height: 135px;
  display: none;
  justify-content: center;
  align-items: end;
}

.radio-inputs>* {
  margin: 6px;
}

.radio-input:checked+.radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.radio-input:checked+.radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
  z-index: 1;
}

.radio-input:checked+.radio-tile .radio-icon img {
  fill: #2260ff;
}

.radio-input:checked+.radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus+.radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus+.radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #d7d7d7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #2260ff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon img {
  position: relative;
  z-index: 0;
  top: 5px;
  width: 4rem;
  fill: #494949;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#container_list {
  cursor: pointer;
}

#container_list:hover~.radio-inputs {
  display: flex;
}

.radio-inputs:hover {
  display: flex;
}

/* Common Header Ends */

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Header Styles */

header {
  background-color: #003366;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
  /* font-weight: bold; */
}

/* Form Styles */

form {
  background-color: #fff;
  border: 2px solid rgba(57, 57, 59, 0.934);
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  z-index: 0;
}

.form-title {
  color: rgba(22, 21, 31, 0.934);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.form-group input {
  font-family: sans-serif;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  padding: 13px;
  width: 80%;
  margin: 2px;
}

.form-group input:focus {
  border-color: rgba(22, 21, 31, 0.934);
  outline: none;
}

.submit-btn {
  background-color: rgba(22, 21, 31, 0.934);
  border: none;
  color: rgb(255, 187, 0);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
}

.submit-btn:hover {
  background-color: rgb(255, 187, 0);
  color: rgba(22, 21, 31, 0.934);
}

/* Footer Styles */

footer {
  background-color: #003366;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#register-form,
#login-form {
  /* border: 2px black solid; */
  text-align: center;
  justify-content: center;
  margin: 50px;
}

#login-form {
  display: none;
}

#login-text,
#register-text {
  justify-content: center;
  /* padding-left: 50px; */
  padding-top: 50px;
  padding-bottom: 30px;
}

.submit-btn {
  font-size: 15px;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
  justify-content: center;
}

.message {
  text-align: center;
}


.toggletext {
  text-decoration: none;
  color: rgb(255, 187, 0);
}

.toggletext:hover {
  color: rgba(22, 21, 31, 0.934);
}

/* Message Box */

#click-protector {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.084);
  display: none;
}

#message_box {
  position: relative;
  width: 450px;
  height: 250px;
  color: rgba(22, 21, 31, 0.934);
  background-color: rgb(255, 187, 0);
  z-index: 4;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.626);
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 25px;
}

#ok_message_btn {
  position: absolute;
  color: rgb(255, 187, 0);
  background-color: rgba(22, 21, 31, 0.934);
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 200px;
  height: 30px;
}

#ok_message_btn:hover {
  color: rgba(22, 21, 31, 0.934);
  background-color: rgb(255, 187, 0);
}

#message_text {
  line-height: 30px;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  position: relative;
  font-size: 13px;
  padding: 10px;
}

/* Message Box ends */

/* Responsive Styles */

@media (max-width: 768px) {

  /* Styles for screens smaller than 768px */
  #logonmenu {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  #nav_linksa {
    margin-top: 10px;
  }

  .radio-inputs {
    width: 100%;
    left: 0;
    top: 60px;
  }

  .radio-tile {
    width: 60px;
    min-height: 60px;
  }

  .radio-icon img {
    width: 3rem;
  }

  #message_box {
    width: 400px;
    height: 222.22px;
  }
}

@media (max-width: 480px) {

  /* Styles for screens smaller than 480px */
  #logonmenu {
    padding: 10px;
  }

  .radio-inputs {
    top: 80px;
  }

  #message_box {
    width: 300px;
    height: 166.66px;
  }

  #ok_message_btn {
    bottom: -70%;
  }
}


/* Loading */

#loading-back {
  position: absolute;
  display: block;
  left: 0px;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(Images/loading_back.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


#loading {
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 3;
}

#loading_dots {
  position: relative;
  top: 45%;
}

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {

  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {

  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {

  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
