body{
    margin: 0;
}
#topline{
    background-color: rgb(255, 187, 0);
    height: 10px;
    width: 100%;
    padding-bottom: 40px;
  }
  #logonmenu{
    padding: 8px;
    height: 60px;
    padding-left: 6%;
    background-color: rgba(22, 21, 31, 0.934);
  }
  #login{
    margin-right: 1%;
    text-align: right;
    border: 1px black solid;
    position: relative;
  }
