@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    margin: 0;
    font-family: "Bruno Ace SC", sans-serif;
    user-select: none;
}

body {
    background-image: url("Images/lingovese.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#lingoverseimg {
    position: absolute;
    top: -110px;
    left: -10px;
    color: transparent;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

#forms {
    position: relative;
    margin-top: 150px;
    left: 150px;
}

#heading {
    position: relative;
    width: 550px;
    font-size: 70px;
}



br {
    height: 10px;
}


.form-group {
    position: relative;
    width: 400px;
    height: 300px;
    line-height: 35px;
}

::placeholder {
    color: blue;
    font-weight: 800;
}

#register-form {
    margin-top: -10px;
    height: 100%;
    display: none;
}

.form-group input:not([type="submit"]) {
    border: none;
    background-color: transparent;
    width: 350px;
    height: 35px;
    border-bottom: 2px black solid;
    font-size: 15px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;

}

input.custom-autofill {
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 15px;

}


.form-group input:focus {
    outline: none;
}



.submit-btn {
    background-color: rgba(22, 21, 31, 0.934);
    border: none;
    color: rgb(255, 187, 0);
    cursor: pointer;
    font-weight: bold;
    width: 80%;
    height: 45px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
    justify-content: center;
}

.submit-btn:hover {
    background-color: rgb(255, 187, 0);
    color: rgba(22, 21, 31, 0.934);
}


#login-text,
#register-text {
    justify-content: center;
    /* padding-left: 50px; */
    padding-top: 50px;
    padding-bottom: 30px;
}


.message {
    font-size: 15px;
}

#reset-pass-menu {
    display: none;
}

.toggletext {
    text-decoration: none;
    color: rgb(255, 187, 0);
    cursor: pointer;
}

.toggletext:hover {
    color: rgba(22, 21, 31, 0.934);
}


/* Message Box */

#click-protector {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.084);
    display: none;
}

#message_box {
    position: relative;
    width: 450px;
    height: 250px;
    color: rgba(22, 21, 31, 0.934);
    background-color: rgb(255, 187, 0);
    z-index: 4;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.626);
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 25px;
}

#ok_message_btn {
    position: absolute;
    color: rgb(255, 187, 0);
    background-color: rgba(22, 21, 31, 0.934);
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 200px;
    height: 30px;
}

#ok_message_btn:hover {
    color: rgba(22, 21, 31, 0.934);
    background-color: rgb(255, 187, 0);
}

#message_text {
    line-height: 30px;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    position: relative;
    font-size: 13px;
    padding: 10px;
}

/* Message Box ends */



/* Responsive Styles */

@media (max-width: 768px) {

    /* Styles for screens smaller than 768px */


    body {
        background-image: none;
        position: relative;
    }

    #forms {
        position: relative;
        margin-left: 20%;
        left: 0;

    }

    #lingoverseimg {
        color: rgb(255, 187, 0);
        text-decoration: none;
        font-size: 25px;
        font-weight: 800;
        top: -50px;
        position: relative;
        left: 0px;
    }

    #heading {
        font-size: 60px;
        width: 440px;
    }

    #heading2 {
        font-size: 19px;
        width: 440px;
    }

    #forms {
        position: relative;
        margin-top: 150px;
    }

    .form-group {
        width: 350px;
    }

    .form-group input:not([type="submit"]) {
        width: 300px;
        font-size: 14px;
    }

    #pp {
        font-size: 12px;
    }

    .submit-btn {
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 15px;
        width: 80%;
        height: 40px;
    }

    #message_box {
        width: 400px;
        height: 222.22px;
    }
}

@media (max-width: 570px) {
    #heading {
        font-size: 40px;
        width: 350px;
    }

    #heading2 {
        font-size: 19px;
        width: 350px;
    }

    #forms {
        position: relative;
        margin-top: 150px;
    }
}


@media (max-width: 480px) {

    /* Styles for screens smaller than 480px */

    /* #forms {
        margin-left: 20px;
    } */

    #heading {
        width: 300px;
        font-size: 40px;
    }

    #heading2 {
        width: 300px;
        font-size: 15px;
    }

    #forms {
        margin-top: 100px;
    }

    .form-group {
        width: 300px;
    }

    .form-group input:not([type="submit"]) {
        width: 250px;
        font-size: 12px;
    }

    #pp {
        font-size: 10px;
    }

    .submit-btn {
        font-size: 11px;
        margin-top: 15px;
        margin-bottom: 10px;
        width: 80%;
        height: 35px;
    }

    .message {
        font-size: 13px;
    }

    .toggletext {
        text-decoration: none;
        color: rgb(255, 187, 0);
        cursor: pointer;
        font-size: 13px;
    }

    #message_box {
        width: 300px;
        height: 166.66px;
    }

    #ok_message_btn {
        bottom: -70%;
    }
}

@media (max-width: 368px) {

    /* #forms {
        margin-left: 20px;
    } */

    #heading {
        width: 200px;
        font-size: 25px;
    }

    #heading2 {
        width: 200px;
        font-size: 12px;
    }

    #forms {
        margin-top: 100px;
        margin-left: 10%;
    }

    .form-group {
        width: 260px;
    }

    .form-group input:not([type="submit"]) {
        width: 210px;
        font-size: 10px;
    }

    #pp {
        font-size: 8px;
    }

    .submit-btn {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 80%;
        height: 30px;
    }

    .message {
        font-size: 10px;
    }

    .toggletext {
        text-decoration: none;
        color: rgb(255, 187, 0);
        cursor: pointer;
        font-size: 10px;
    }
}
